.x3371635 .plusicon-SmPRlO {
  background-color: transparent;
  height: 38%;
  left: 31%;
  opacity: 1;
  position: absolute;
  top: 31%;
  width: 38%;
}

.add-new-team-e4mHI8 {
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  height: auto;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 22px;
  width: 56%;
  float: left;
}

.cards-add-new-team-C61RwL {
  border-radius: 8px;
  height: 62px;
  position: relative;
  width: 100%;
}

.x3371635 {
  user-select: none;
  cursor: pointer;
  border-radius: 27px;
  box-shadow: 0 4px 10px #0000001a;
  height: 44px;
  position: relative;
  width: 44px;
  margin: 8px;
  margin-left: 6%;
  float: left;
}
