.vector-Txxkhx {
  background-color: transparent;
  height: 6px;
  left: 1px;
  position: absolute;
  top: 3px;
  width: 10px;
}

.header-language-C61RwL{
  border-radius: 32px;
  height: 36px;
  position: relative;
  width: 100%;
  user-select: none;
  cursor: pointer;
}

.frame-321-celrhM{
  background-color: transparent;
  height: 22px;
  left: 15%;
  position: relative;
  top: 25%;
  width: 65%;
  float: left;
}

.trke-0LZEPm{
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.icon12-arrow-down-celrhM{
  background-color: transparent;
  position: relative;
  top: 35%;
  float: right;
  margin-right: 0;
  width: 17%;
}
