.icon24list-I7lOd1 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.icon24-services-F0pLSd {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}

.group-18-BCTATd {
  background-color: transparent;
  height: 21px;
  left: 3px;
  position: absolute;
  top: 1px;
  width: 18px;
}

.vector-d9MLVj {
  background-color: transparent;
  height: 14px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 20px;
}

.vector-7AHR7M {
  background-color: transparent;
  height: 9px;
  left: -1px;
  position: absolute;
  top: 7px;
  width: 20px;
}

.vector-1-d9MLVj {
  background-color: transparent;
  height: 10px;
  left: -1px;
  position: absolute;
  top: 11px;
  width: 8px;
}

.ellipse-2-d9MLVj {
  background-color: transparent;
  border-radius: 3px/2.88px;
  height: 6px;
  left: 5px;
  position: absolute;
  top: 17px;
  transform: rotate(180deg);
  width: 6px;
}

.group-9-BCTATd {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}

.group-3-zil9nX {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 24px;
}

.group-4-fmI30N {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}

.group-5-bjviXD {
  background-color: transparent;
  height: 22px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 22px;
}

.group-6-QfnHJT {
  background-color: transparent;
  height: 23px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 23px;
}

.group-8-HmkLao {
  background-color: transparent;
  height: 18px;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.group-7-kjAn9e {
  background-color: transparent;
  height: 22px;
  left: 3px;
  position: absolute;
  top: 1px;
  width: 18px;
}

.icon-feather-upload-cloud-xjMq9P {
  background-color: transparent;
  height: 33px;
  left: -0px;
  position: absolute;
  top: 4px;
  width: 40px;
}

.icons40red-FbYh50 {
  background-color: transparent;
  height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  width: 40px;
}

.icon24-sort-QjLXxp {
  background-color: transparent;
  height: 74%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 63%;
}

.vector-5HvYMg {
  background-color: transparent;
  height: 17px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 18px;
}

.vector-HKA89j {
  background-color: transparent;
  height: 50%;
  position: absolute;
  width: 100%;
}

.vector-xxxPVx {
  background-color: transparent;
  height: 8px;
  left: 5px;
  position: absolute;
  top: 8px;
  width: 14px;
}

.vector-xxxPVx2 {
  background-color: transparent;
  height: 16px;
  position: absolute;
  width: 3%;
  cursor: pointer
}

.vector-xxxPVx3 {
  transform: rotate(180deg);
}

.vector-w6x1eD {
  background-color: transparent;
  height: 4px;
  left: 3px;
  position: absolute;
  top: 10px;
  width: 18px;
}

.vector-mKFOek {
  background-color: transparent;
  height: 15px;
  left: 2px;
  position: absolute;
  top: 5px;
  width: 20px;
}

.icon24-phonecall-JSajdM {
  background-color: transparent;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.vector-NywM5P {
  background-color: transparent;
  height: 18px;
  left: 1px;
  position: absolute;
  top: 3px;
  width: 22px;
}

.icon24arrow-mDbJx1 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.vector-g8b4Ox {
  background-color: transparent;
  height: 20px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 20px;
}

.icon12tik-RJxxSz {
  background-color: transparent;
  height: 12px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 52px;
  width: 12px;
}

.vector-4JBapx {
  background-color: transparent;
  height: 8px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 10px;
}

.vector-y1s1EI {
  background-color: transparent;
  height: 6px;
  left: 1px;
  position: absolute;
  top: 3px;
  width: 10px;
}

.vector-kj2FVj {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 12px;
}

.rectangle-400-HtR1pl {
  background-color: transparent;
  border-radius: 2px;
  height: 10px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 10px;
}

.icon16voice-5u9jhK {
  background-color: transparent;
  height: 17px;
  mix-blend-mode: normal;
  position: absolute;
  width: 17px;
}

.more-horizontal-5u9jhK {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  width: 16px;
}

.rectangle-387-FSnf0B {
  background-color: var(--bright-purple);
  border-radius: 7px;
  height: 12px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 1px;
}

.rectangle-388-FSnf0B {
  background-color: var(--bright-purple);
  border-radius: 7px;
  height: 12px;
  left: 3px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 1px;
}

.rectangle-389-FSnf0B {
  background-color: var(--bright-purple);
  border-radius: 7px;
  height: 12px;
  left: 7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 1px;
}

.rectangle-390-FSnf0B {
  background-color: var(--light-purple);
  border-radius: 7px;
  height: 12px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 1px;
}

.rectangle-391-FSnf0B {
  background-color: var(--light-purple);
  border-radius: 7px;
  height: 12px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 1px;
}

.ellipse-76-naRSxM {
  background-color: var(--transpaternt);
  border-radius: 21px;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 42px;
}

.icon24more-vertical-naRSxM {
  background-color: transparent;
  height: 24px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 24px;
}

.component-10-9lf4qE {
  background-color: transparent;
  height: 42px;
  mix-blend-mode: normal;
  position: absolute;
  width: 42px;
}

.ellipse-77-Kjg9AA {
  background-color: var(--error);
  border-radius: 21px;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 42px;
}

.ellipse-74-qhz9ox {
  background-color: var(--transpaternt);
  border-radius: 21px;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 42px;
}

.ellipse-73-bD2lqA {
  background-color: var(--transpaternt);
  border-radius: 21px;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 42px;
}

.ellipse-75-0vYDrJ {
  background-color: var(--transpaternt);
  border-radius: 21px;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 42px;
}

.ellipse-74-TVwFIz {
  background-color: var(--transpaternt);
  border-radius: 21px;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 42px;
}

.ellipse-73-ZNRdZ9 {
  background-color: var(--transpaternt);
  border-radius: 21px;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 42px;
}

.centered-all{
  top: 50%;
  transform: translate(-50%, -50%);
}
