<!-- 24px ICONS -->
<img *ngIf="iconName==='list'" class=" icon24list-I7lOd1" src="assets/img/icon-24-list@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='announce'" class=" centered-all icon24list-I7lOd1" src="assets/img/icon-24-announcements@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='ticket'" class=" centered-all icon24list-I7lOd1" src="assets/img/icon-24-offer@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='star'" class=" centered-all icon24list-I7lOd1" src="assets/img/icon-24-campain@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='sun'" class=" centered-all icon24list-I7lOd1" src="assets/img/icon-24-holiday@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='empty-report'" class=" centered-all icon24list-I7lOd1" src="assets/img/icon-24-report@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='clock'" class=" centered-all icon24list-I7lOd1" src="assets/img/icon-24-plan@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='report'" class=" centered-all icon24list-I7lOd1" src="assets/img/icon-24-reports@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='access-point'" class=" centered-all icon24list-I7lOd1" src="assets/img/icon-24-accesspoint@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='archive'" class=" centered-all icon24list-I7lOd1" src="assets/img/icon-24-archive@2x.svg"/>
<div [ngStyle]="getStyle()" *ngIf="iconName==='call-center'" class=" centered-all icon24-sort-QjLXxp">
  <div class=" centered-all group-18-BCTATd">
    <img class="vector-d9MLVj" src="assets/img/vector-2@2x.svg"/>
    <img class="vector-7AHR7M" src="assets/img/vector-3@2x.svg"/>
    <img class="vector-1-d9MLVj" src="assets/img/vector-1-1@2x.svg"/>
    <div class="ellipse-2-d9MLVj border-2px-purple"></div>
  </div>
  <div class="group-9-BCTATd"></div>
</div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='accounts'" class=" centered-all  icon24-sort-QjLXxp"><img class=" centered-all group-3-zil9nX" src="assets/img/group-3@2x.svg"/></div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='settings'" class=" centered-all icon24-sort-QjLXxp"><img class=" centered-all group-4-fmI30N" src="assets/img/group-4@2x.svg"/></div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='clock-24px'" class=" centered-all icon24-sort-QjLXxp"><img class=" centered-all group-5-bjviXD" src="assets/img/group-5@2x.svg"/></div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='out-call'" class=" centered-all icon24-sort-QjLXxp"><img class=" centered-all group-6-QfnHJT" src="assets/img/group-6@2x.svg"/></div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='rate-chart'" class=" centered-all icon24-sort-QjLXxp"><img class=" centered-all group-8-HmkLao" src="assets/img/group-8@2x.svg"/></div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='document'" class=" centered-all icon24-sort-QjLXxp"><img class=" centered-all group-7-kjAn9e" src="assets/img/group-7@2x.svg"/></div>
<img [ngStyle]="getStyle()" *ngIf="iconName==='paper-clip'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-paperclip@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='remove-line'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-remove2@2x.svg"/>
<div [ngStyle]="getStyle()" *ngIf="iconName==='double-arrow'" class=" centered-all icon24-sort-QjLXxp"><img class=" centered-all vector-5HvYMg" src="assets/img/vector-13@2x.svg"/></div>
<img [ngStyle]="getStyle()" *ngIf="iconName==='add'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-add@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='phone-off'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-phone-off@2x.svg"/>
<div [ngStyle]="getStyle()" *ngIf="iconName==='exit'" class=" centered-all icon24-sort-QjLXxp"><img class=" centered-all vector-HKA89j" src="assets/img/group-1@2x.svg"/></div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='down-arrow'" class=" centered-all icon24-sort-QjLXxp"><img class=" centered-all vector-xxxPVx" src="assets/img/vector-15@2x.svg"/></div>
<img [ngStyle]="getStyle()" *ngIf="iconName==='down-arrow-2'" class="vector-xxxPVx2" src="assets/img/down-arrow.png"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='up-arrow'" class="vector-xxxPVx2 vector-xxxPVx3" src="assets/img/down-arrow.png"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='queue'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-queue@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='microphone'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-mic@2x.svg"/>
<div [ngStyle]="getStyle()" *ngIf="iconName==='three-dots'" class=" centered-all icon24-sort-QjLXxp"><img class=" centered-all vector-w6x1eD" src="assets/img/vector-16@2x.svg"/></div>
<img [ngStyle]="getStyle()" *ngIf="iconName==='play'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-play@2x.svg"/>
<div [ngStyle]="getStyle()" *ngIf="iconName==='mail'" class=" centered-all icon24-sort-QjLXxp"><img class=" centered-all vector-mKFOek" src="assets/img/vector-1@2x.svg"/></div>
<img [ngStyle]="getStyle()" *ngIf="iconName==='phone-call'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-phonecall@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='mic-off'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-mic-off@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='mail'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-phone-forwarded@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='pause'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-pause@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='remove'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-remove@2x.svg"/>
<div [ngStyle]="getStyle()" *ngIf="iconName==='equalizer'" class=" centered-all icon24-sort-QjLXxp"><img class=" centered-all vector-NywM5P" src="assets/img/vector-18@2x.svg"/></div>
<img [ngStyle]="getStyle()" *ngIf="iconName==='signal'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-signal@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='members'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-members@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='more-vertical'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-more-vertical@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='edit'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-edit@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='right-arrow'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-arrow-1@2x.svg"/>
<div [ngStyle]="getStyle()" *ngIf="iconName==='search'" class=" centered-all icon24-sort-QjLXxp"><img class=" centered-all vector-g8b4Ox" src="assets/img/vector@2x.png"/></div>
<img [ngStyle]="getStyle()" *ngIf="iconName==='survey'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-survey@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='calendar'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-calendar@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='message-circle'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-message-circle@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='eye'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-see@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='test-success'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-test-1@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='copy'" class=" centered-all icon24-sort-QjLXxp" src="assets/img/icon-24-copy@2x.svg"/>

<!-- 40px ICONS -->
<div [ngStyle]="getStyle()" *ngIf="iconName==='upload-cloud'" class=" centered-all icons40red-FbYh50">
  <img class=" centered-all icon-feather-upload-cloud-xjMq9P" src="assets/img/icon-feather-upload-cloud-1@2x.svg"/>
</div>
<img [ngStyle]="getStyle()" *ngIf="iconName==='error'" class=" centered-all icons40red-FbYh50" src="assets/img/icons-40-red-2@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='info'" class=" centered-all icons40red-FbYh50" src="assets/img/icons-40-blue@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='success'" class=" centered-all icons40red-FbYh50" src="assets/img/icons-40-green-2@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='warning'" class=" centered-all icons40red-FbYh50" src="assets/img/icons-40-yellow-2@2x.svg"/>

<!-- 12px ICONS -->
<div [ngStyle]="getStyle()" *ngIf="iconName==='success-mini'" class=" centered-all icon12tik-RJxxSz"><img class=" centered-all vector-4JBapx" src="assets/img/vector-4@2x.svg"/></div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='down-arrow-mini'" class=" centered-all icon12tik-RJxxSz"><img class=" centered-all vector-y1s1EI" src="assets/img/vector-5@2x.svg"/></div>
<img [ngStyle]="getStyle()" *ngIf="iconName==='left-arrow-mini'" class=" centered-all icon12tik-RJxxSz" src="assets/img/icon-12-arrow-left@2x.svg"/>
<div [ngStyle]="getStyle()" *ngIf="iconName==='search-mini'" class=" centered-all icon12tik-RJxxSz"><img class=" centered-all vector-kj2FVj" src="assets/img/vector-6@2x.svg"/></div>
<img [ngStyle]="getStyle()" *ngIf="iconName==='pause-mini'" class=" centered-all icon12tik-RJxxSz" src="assets/img/icon-12-pause@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='end-mini'" class=" centered-all icon12tik-RJxxSz" src="assets/img/icon-12-end@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='play-mini'" class=" centered-all icon12tik-RJxxSz" src="assets/img/icon-12-play@2x.svg"/>
<div [ngStyle]="getStyle()" *ngIf="iconName==='stop'" class=" centered-all icon12tik-RJxxSz">
  <div class=" centered-all rectangle-400-HtR1pl border-2px-purple"></div>
</div>

<!-- 16px ICONS -->
<img [ngStyle]="getStyle()" *ngIf="iconName==='voice-mini'" class=" centered-all icon16voice-5u9jhK" src="assets/img/icon-16-voice@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='mail-mini'" class=" centered-all icon16voice-5u9jhK" src="assets/img/icon-16-email@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='chat-mini'" class=" centered-all icon16voice-5u9jhK" src="assets/img/icon-16-chat@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='sms-mini'" class=" centered-all icon16voice-5u9jhK" src="assets/img/icon-16-sms@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='twitter-mini'" class=" centered-all icon16voice-5u9jhK" src="assets/img/icon-16-twitter@2x.svg"/>
<img [ngStyle]="getStyle()" *ngIf="iconName==='award-mini'" class=" centered-all icon16voice-5u9jhK" src="assets/img/award@2x.svg"/>
<div [ngStyle]="getStyle()" *ngIf="iconName==='barcode'" class=" centered-all more-horizontal-5u9jhK">
  <div class="rectangle-387-FSnf0B"></div>
  <div class="rectangle-388-FSnf0B"></div>
  <div class="rectangle-389-FSnf0B"></div>
  <div class="rectangle-390-FSnf0B"></div>
  <div class="rectangle-391-FSnf0B"></div>
</div>

<!-- LARGE ICONS -->
<div [ngStyle]="getStyle()" *ngIf="iconName==='more-vertical-large'"  class=" centered-all component-10-9lf4qE">
  <div class=" centered-all ellipse-76-naRSxM"></div>
  <img class=" centered-all icon24more-vertical-naRSxM" src="assets/img/icon-24-more-vertical@2x.svg"/>
</div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='phone-off-large'"  class=" centered-all component-10-9lf4qE">
  <div class=" centered-all ellipse-77-Kjg9AA"></div>
  <img class=" centered-all icon24more-vertical-naRSxM" src="assets/img/icon-24-phone-off@2x.svg"/>
</div>
<div [ngStyle]="getStyle()"  *ngIf="iconName==='pause-large'"  class=" centered-all component-10-9lf4qE">
  <div class=" centered-all ellipse-74-qhz9ox"></div>
  <img class=" centered-all icon24more-vertical-naRSxM" src="assets/img/icon-24-pause@2x.svg"/>
</div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='mic-off-large'"  class=" centered-all component-10-9lf4qE">
  <div class=" centered-all ellipse-73-bD2lqA"></div>
  <img class=" centered-all icon24more-vertical-naRSxM" src="assets/img/icon-24-mic-off@2x.svg"/>
</div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='phone-forwarded-large'"  class=" centered-all component-10-9lf4qE">
  <div class=" centered-all ellipse-75-0vYDrJ"></div>
  <img class=" centered-all icon24more-vertical-naRSxM" src="assets/img/icon-24-phone-forwarded@2x.svg"/>
</div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='play-large'"  class=" centered-all component-10-9lf4qE">
  <div class=" centered-all ellipse-74-TVwFIz"></div>
  <img class=" centered-all icon24more-vertical-naRSxM" src="assets/img/icon-24-play@2x.svg"/>
</div>
<div [ngStyle]="getStyle()" *ngIf="iconName==='microphone-large'"  class=" centered-all component-10-9lf4qE">
  <div class=" centered-all ellipse-73-ZNRdZ9"></div>
  <img class=" centered-all icon24more-vertical-naRSxM" src="assets/img/icon-24-mic@2x.svg"/>
</div>
