<div class="frame-1814-C61RwL">
  <div class="cards-team-duble-pa5yOA border-1px-bluegrey"
       [ngStyle]="{'background-color':'var(--'+theme.bgColor+')',
       'border':announcementPackage.contentList.length==0?'1px solid var(--error)':''}">
    <div class="frame-1818-2YelMj">
      <div class="play-main-1EpFie body-01-medium"
           [ngStyle]="{'color':'var(--'+theme.fontColor+')'}">{{announcementPackage.name}}</div>
      <div class="x11-1EpFie body-01-medium"
           [ngStyle]="{'color':announcementPackage.contentList.length==0?'var(--error)':'var(--'+theme.fontColor+')'}">
        {{announcementPackage.contentList.length}}/{{announcementPackage.capacity}}</div>
    </div>
    <div cdkDropList (cdkDropListDropped)="drop($event)"
         [cdkDropListData]="announcementPackage.contentList">
      <div style="width: 90%;position:relative;margin-left: 5%;
    padding-bottom: 5%;" *ngFor="let data of announcementPackage.contentList" cdkDrag>
        <announce-list-content [theme]="data.theme" [buttonOptions]="data.buttonOptions" [content]="getContent(data)"
                                     (buttonEvent)="buttonClick8(data.id)"></announce-list-content>
      </div>

      <div *ngIf="announcementPackage.contentList.length==0" class="drag-announcement-fQJs9k b2"
           [ngStyle]="{'color':'var(--'+theme.noteColor+')'}" cdkDrag>{{noteForEmptyList}}</div>
    </div>
  </div>
</div>
