.frame-1814-C61RwL {
  background-color: transparent;
  height: fit-content;
  position: relative;
  width: 100%;
}

.cards-team-duble-pa5yOA {
  border-radius: 8px;
  height: fit-content;
  mix-blend-mode: normal;
  position: relative;
  width: 100%;
}

.frame-1818-2YelMj {
  background-color: transparent;
  height: 18px;
  left: 5%;
  position: relative;
  width: 90%;
  margin: 3%;
  display: inline-flex;
}

.play-main-1EpFie {
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  height: auto;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 85%;
}

.x11-1EpFie {
  background-color: transparent;
  color: var(--blue);
  font-style: normal;
  font-weight: 500;
  height: auto;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: 8%;
}

.drag-announcement-fQJs9k {
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 8%;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  top: 4%;
  width: 80%;
  padding-bottom: 2%;
}
