.cards-add-new-queue-C61RwL {
  border-radius: 4px;
  box-shadow: 0 5px 10px #0000004c;
  height: 100%;
  position: relative;
  width: 100%;
}

.x3371622 {
  cursor: pointer;
  border-radius: 27px;
  box-shadow: 0 4px 10px #0000001a;
  height: 54px;
  left: 82px;
  opacity: 1;
  position: relative;
  top: 56px;
  width: 54px;
  user-select: none;
}

.x3371622 .plusicon-x0MFR0 {
  background-color: transparent;
  height: 27px;
  left: 14px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 27px;
}

.add-new-queue-gVC7Yy {
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 100%;
  position: relative;
  text-align: center;
  top: 85px;
  width: 100%;
}
