.header-search-ecfxZv {
  border-radius: 61px;
  height: 36px;
  position: relative;
  width: 100%;
  padding: 17px;
  padding-left: 24px;
}

.icon12-search-9GV1nM {
  cursor: pointer;
  background-color: transparent;
  height: 12px;
  left: 90%;
  position: absolute;
  top: 12px;
  width: 12px;
}

.vector-37x0xz {
  background-color: transparent;
  height: 100.00%;
  position: absolute;
  width: 100%;
}
